2ovh.sh
*.tgz
*.swp
webdoc/docbook/*.html
webdoc/userguide.pdf
apidoc/*
aitadmin/*.zip
aitadmin/rsc/*.css
aitadmin/rsc/*.png
aitadmin/rsc/*.js
aitadmin/tmp/*cache*
userguide.pdf
userguide.xml
userguide.html
