<table id="<?php echo $ClassID ?>">
		<thead>
				<tr>
						<th>
								SystemID
						</th>
						<th>
								Valeur
						</th>
				</tr>
		</thead>
		<tbody>
				<?php foreach($rows as $row): ?>
				<tr>
						<td>
								<?php if ($row->getSystemID() != $selected) { ?>
								<a href="?it=<?php echo $row->getSystemID(); ?>">
										#<?php echo $row->getSystemID(); ?>										
								</a>
								<?php } else { ?>
								#<?php echo $row->getSystemID() ?>										
								<?php } ?>
						</td>
						<td>
								<?php echo $row->get() ?>
						</td>
				</tr>
				<?php endforeach; ?>
		</tbody>
</table>
