div.example {
		/* ... */
}
div.toc {
		margin-left: 20px;
		margin-right: 20px;
		border: thin dotted #70aae5;
		padding: 10px 10px 10px 10px;
		background-color: #e8f4f0;
}
.filename {
		color: #300070;
}
.screen {
		background-color: #505050;
		color: white;
		padding-top: 10px;
		padding-bottom; 10px;
		margin-left: 20px;
		margin-right: 20px;
		border-color: lightgray;
		border-style: solid;
}
.prompt {
		color: #ffffaa;
}
.programlisting {
		font-family: courier, news;
    font-weight: normal;
    font-size: 12px;
		background-color: #ddffdd;
		padding-top: 10px;
		padding-bottom; 10px;
		margin-left: 20px;
		margin-right: 20px;
		border:  thin solid lightgray;
		white-space: pre;
}
